.App {
    display: block;
}

.MobileApp {
    display: none;
}

.home-grid {
    display: grid; 
    grid-template-columns: 20% 40% 35%; 
    grid-template-rows: 200px 160px 400px; 
    gap: 5px; 
    padding: 10px; 
    margin-right: 20px; 
    background: #007f00; 
    border: outset 3px;
}

.radio-grid {
    grid-template-columns: repeat(5, 20%);
}

.cyberpunk-radio {
    display: grid;
    grid-template-columns: 150px 70% 150px;
}

.cyberpunk-footer {
    height: 1070px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: repeat(2, 300px);
}

.channelf-albums {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 5px black, 0 0 5px 5px black inset;
    grid-column: 1;
    grid-row: 1;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 0 0 20px 0;
}

.sunrise-grid {
    display: grid; 
    grid-template-columns: 15% 70% 15%; 
    border: solid 30px; 
    border-image-source: url(/public/images/sunrise/sun.gif); 
    border-image-repeat: repeat; 
    border-image-slice: 20 0;
}

.sunset-grid {
    display: grid; 
    grid-template-columns: 15% 70% 15%; 
    border: solid 30px; 
    border-image-source: url(/public/images/sunrise/star.gif); 
    border-image-repeat: repeat; 
    border-image-slice: 20 0;
}

@media screen and (max-width: 550px) {
    .App {
        display: none;
    }

    .MobileApp {
        display: block;
    }

    .mobilehide {
        display: none;
    }

    .home-grid {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .radio-grid {
        grid-template-columns: 100%;
    }

    .audio-open.buttons-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25px 25px;
        height: 55px;
        gap: 5px;
    }

    .cyberpunk-radio {
        display: block;
    }

    .cyberpunk-footer {
        display: block;
    }

    .channelf-albums {
        display: none;
    }

    .sunrise-grid, .sunset-grid {
        display: block;
        border: solid orange 3px;
    }
}